{% extends "Admin/layout.njk" %}
{% block content %}
    <div class="global">
        <div class="chefs">
            <div class="chefs_title">
                <p>Gerenciar chefs</p>
                <a class="button" href="/admin/Chefs/criar">Cadastrar Chef</a>
            </div>
            <div class="chefs_cards">

            </div>
        </div>
    </div>
{% endblock %}